

.header{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.logo{
	display: flex;
	justify-content: flex-start;
}
.logo img{
	height: 100px;
	width: 100px;
	justify-content: flex-start;
	display: block;
  margin-right: auto;
	align-items: flex-end;
  }

.botones {
	display: flex;
	height: 70px;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
	
}

.botones a{
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.botones a:hover{
	background-color: saddlebrown;
	padding: 10px;
}

.poster {
	width: 100%;
	margin: 10px;
}


		
img{
	width: 100%;
}
.contenedor{
	
	display: flex;
	justify-content: center;
	flex: 30%;
	margin: 20px;
	text-decoration: none;
	
}


.cajita1 a{
	flex: 100%;
	text-align-last: ;
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 300px;
	width: 300px;
	background-image:url(".././imagenes/menu.jpg");
	background-size: cover;

}

.cajita1 a:hover{
	padding: 30px;	
	
}

.cajita2 a{
	text-decoration: none;
	color: black;
	text-align: center;
	background-color: aliceblue;
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 300px;
	width: 300px;
	background-image:url(".././imagenes/productos.jpg");
	background-size: cover;
}

.cajita2 a:hover{
	background-color: black;
	padding: 30px
}

.cajita3 a{
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 300px;
	width: 300px;
	background-image:url(".././imagenes/vasos.jpg");
	background-size: cover;
		
}

.cajita3 a:hover{
	background-color: black;
	padding: 30px;
	
}

.videoContainer{
	display: flex;
	background-color: #28130f;
	margin: 10px;
}
.videoContainer video {
	flex: 5;
	width: 500px;
	height: 500px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	}

.redes{
	background-color: #100709;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display: flex;
	
}
.redes a{
	background-color: #100709;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 200px;
	width: 200px;
}

.cafe-footer {
  background-color: #21100c;
  padding: 50px 0;
  text-align: center;
	height: 100%;
	width: 100%;
}

.cafe-footer p {
  margin-bottom: 50px;
	font-size: 30px;
	color: aliceblue;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}

.cafe-footer img{
	display: flex;
  width: 500%;
  height: 500px;
}

.container {
  max-width: 100px;
  margin: 0 auto;
  padding: 0 20px;
}

